@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.cont {
  background-image: url("../public/assets/background.png");
  background-color: black;
  color: white;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.cont-m {
  background-image: url("../public/assets/background.png");
  color: white;
  background-size: cover; /* Set background size to cover */
  background-position: center center; /* Center the background image */
  height: 100%;
  width: 100vw;
}

